body {
    background-color: #7b1be2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #bb1f1f;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}